/*#btn-decrease{
justify-content: center;
display: flex;
align-items: center;
}
.btn-container{
text-align: center;

}

#counter{
   font-size: 10em;
   display: block;
   text-align: center;
   font-family: Arial;
}
.btns{
   background-color:antiquewhite;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.25s;
   border: none;
   padding: 10px;

}
.btns:hover{
   background-color: beige;
}
.button-hover{
   
}*/
/*
body{
   background-image: url(premium_photo-1697729862026-8f486fcd7f8b.jpeg);
   background-position: center;
   background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
   margin: 0;

}

#container{
 justify-content: center;
 align-items: center;
 height: 100vh;
   display: flex;
}

#clock{
   font-family: monospace;
   font-size: 6.5rem;
   font-weight: bold;
   text-align: center;
   backdrop-filter: blur(2px);
   width: 100%;
}*/
/*
body{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: hsl(0, saturation, 90%);
}

#myH1{
   font-size: 4rem;

   font-family: monospace;
   color:black;
}

#display{
   font-size: 5rem;
   font-family: monospace;
   font-weight: bold;
   margin-bottom: 25px;
}


#controls{
   text-align: center;
   width: 300px;
}
   */


#log-btn {
  position: relative;  /* ya absolute / fixed */
  top: 0px;
  left: 0px;
}